@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        max-width: 720px;
    }
    .da-da.AppHomeLoanMainApplication {
        width: 100%;
    }
    span.MovableNonTextBold {
        display:  block;
        text-align: left;
    }

    span.MovableNonTextthin {
        display:  block;
        text-align: left;
    }
    .DesktopMenuDont {
        display: none;
    }
    .da-da.wh100.DisplayMobileMenudont {
        display: block;
    }
    h3.da-da.SectionVerticalContentsAreahd_one {
        text-align:  center;
    }

    p.da-da.SectionVerticalContentsAreahd_two {
        text-align:  center;
    }

    a.da-da.btnIsDefault_btn {
        margin:  0 auto;
    }
    .da-da.TopMainHeaderLeft {
        width: 80%;
    }

    .da-da.TopMainHeaderRight {
        width:  20%;
    }

    .da-da.wh100.LogoMainImg img {
        max-width: 84%;
    }

    img.da-da.sectionImage_any {
        width:  -webkit-fill-available;
    }
    .padding0Mobile {
        padding: 0 !important;
    }
    .da-da.TopBlackHeader {
        display: none;
    }
    .da-da.mobileMenuBar.mobileMenuBarShow {
        max-height: 100% !important;
    }
    img.da-da.sectionImage_any {
        max-width: 60%;
    }

    .da-da.SectionVerticalContentsArea {
        padding-top: 50px;
    }
    span.SupportiveAligned_text {
        margin-bottom: 35px;
    }
    h3.da-da.HomepaheSetUp_contactInfoHeaderH3 {
        text-align:  center;
    }

    .da-da.HomepaheSetUp_contactInfoAddress {
        text-align: center;
    }

    h3.da-da.HomepaheSetUp_contactInfoHeaderH3.HomepaheSetUp_contactInfoHeaderH32 {
        text-align:  center;
    }

    p.da-da.HomepaheSetUp_contactInfoAddressP.HomepaheSetUp_contactInfoAddressP2 {
        text-align:  center;
    }

    .da-da.HomepaheSetUp_contactInfoAddress {
        margin-bottom: 45px;
    }
    ul.HomepaheSetUp_footerInfoSocialIcons {
        width: fit-content;
        margin: 0 auto;
        float:  none;
        margin-top:  20px;
    }

    p.footerLeftLinkTag {
        text-align:  center;
    }
    .da-daBannerTphomepageTextLeftMain {
        padding:  0;
        margin-bottom:  50px;
    }

    h3.da-da.daBannerTphomepageTextLeftMainSubHeadingH3 {
        text-align:  center;
        font-size:  19px;
    }

    h3.da-da.daBannerTphomepageTextLeftMainMainHeadingH3 {
        text-align:  center;
        font-size:  30px;
    }

    h3.da-da.daBannerTphomepageTextLeftMainYellowHeadingH3 {
        text-align:  center;
        font-size: 16px;
    }
    .da-da.TopMainHeader {
        position:  fixed;
        background:  #fff;
        z-index: 500;
        top: -1px;
    }

    .da-da.bodyAppMain {
        margin-top: 90px;
    }


    .da-da.mobileMenuBar {
        position:  fixed;
        top: 77px;
        z-index: 800;
        height:  100%;
        bottom:  0;
    }
    p.da-da.HomepaheSetUp_contactInfoAddressP.HomepaheSetUp_contactInfoAddressP2 a {
        font-size:  33px;
    }
    .da-da.TopMainHeader {
        border-bottom: 1px solid #ebf5f7;
    }
    .da-da.FaqPage_rightTotlBirfBox {
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        border-radius:  3px;
        -moz-border-radius:  3px;
        -webkit-border-radius:  3px;
    }
    .StrtctrckingAboutus_1Tg3_OnemainTagiie {
        margin-bottom: 60px;
    }
    .da-da.FaqPage_rightTotlBirfBoxbtn a {
        float: left;
        overflow:  auto;
    }

    .da-da.FaqPage_rightTotlBirfBoxbtn {
        overflow:  auto;
    }
    img.imgDefaultTagRotateleft {
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
    }
    img.imgDefaultTagRotateleft {
        max-width: 100%;
        margin-bottom: 40px;
    }
    .col-12.col-sm-12.col-md-12.col-lg-6.abtusPageBAnnerAndForumMain_igdesc12_data_one {
        padding-left: 25px;
        padding-right: 25px;
    }
    section.da-da.abtusPageBAnnerAndForumMain_igdesc1.abtusPageBAnnerAndForumMain_igdesc12 {
        padding-top: 25px;
    }
    section.da-da.abtusPageBAnnerAndForumMain_igdesc1 {
        padding-top: 20px;
    }
    .da-da.wh100.faqPageBAnnerAndForumMainHl {
        padding-top: 20px;
        padding-bottom: 20px;
        min-height: 200px;
    }
    .da-da.FaqMainHeadingTitle h1 {
        font-size: 30px !important;
    }
    h3.da-da.SectionVerticalContentsAreahd_one {
        text-align:  center;
    }

    p.da-da.SectionVerticalContentsAreahd_two {
        text-align: center;
    }

    a.da-da.btnIsDefault_btn {
        margin:  0 auto;
    }
    span.SupportiveAligned_text {
        margin-bottom: 50px;
    }
    h3.da-da.HomepaheSetUp_contactInfoHeaderH3 {
        text-align: center;
    }

    p.da-da.HomepaheSetUp_contactInfoAddressP {
        text-align: center;
    }
    p.footerLeftLinkTag {
        text-align:  center;
    }

    ul.HomepaheSetUp_footerInfoSocialIcons {
        width: fit-content;
        margin:  0 auto;
        display:  block;
        float:  none;
        margin-top: 25px;
    }
    .da-da.oneRowOifPonint {
        padding-top:  75px;
        margin:  0 auto;
        width:  fit-content;
    }

    span.da-da.oneRowOifPonintHeadIcon {
        left: 42%;
        top: 20px;
    }

    .da-da.oneRowOifPonint {
        padding-left: 0;
        margin-bottom:  17px;
    }

    .da-da.oneRowOifPonintHead h3 {
        text-align:  center;
        display:  block;
    }

    .da-da.oneRowOifPonintHeadSub {
        text-align:  center;
    }

    h3.PurpleHeadingColor {
        display: block;
        text-align:  center;
    }
    .da-da.oneDataSetnPaybackTopBAnner {
        margin-top: 65px;
    }
    .da-da.MainPopUpBlockDiv {
        width: 450px;
        height: auto;
        background: #fff;
        margin: 0 auto;
        top: 50%;
        position: absolute;
        left: 50%;
        margin-left: -225px;
        margin-top: -250px;
    }
    .ContactUsBAnnermMainLeft {
        margin-bottom: 70px;
    }

    .da-da.abtusPageBAnnerAndForumMain_igdesc1_smltitle.ContactUsBAnnermMainTcter h5 {
        text-align:  center;
    }

    .da-da.abtusPageBAnnerAndForumMain_igdesc1_bgltitle.ContactUsBAnnermMainTcterh3 h3 {
        text-align:  center;
    }

    .da-da.abtusPageBAnnerAndForumMain_igdesc1_desctv.ContactUsBAnnermMainTcterp p {
        text-align:  center;
    }
    .da-da.abtusPageBAnnerAndForumMain_igdesc1_btnn.ContactUsBAnnermMainTcterpbtn {
        text-align: center;
    }
    section.da-da.ContactUsBAnnermMain {
        padding-top: 50px;
        padding-bottom: 70px;
    }
    ul.da-da.AppMainApplicationForm_leftTopNavlocateUl li {
        width:  100%;
    }

    ul.da-da.AppMainApplicationForm_leftTopNavlocateUl li:after {
        right: 0;
    }

    ul.da-da.AppMainApplicationForm_leftTopNavlocateUl li:before {
        right: 0;
    }

    ul.da-da.AppMainApplicationForm_leftTopNavlocateUl li:last-child:before {
        content:  "";
    }

    ul.da-da.AppMainApplicationForm_leftTopNavlocateUl li:last-child:after {
        content:  "";
    }
    .col-md-4.AppMainApplicationForm_right {
        padding-left: 15px;
    }
    .da-da.mobileMenuBar.mobileMenuBarShow {
        display: block !important;
    }
    .da-da.wh100.AppMainApplicationForm_rightmn {
        padding-bottom: 50px;
        padding-top:  20px;
    }
    .da-da.wh100.AppMainApplicationForm_rightmn {
        border-top: 1px solid #e3e3e3;
    }
    .da-da.AppMainApplicationForm_leftMainBodyforForum {
        padding-left: 3%;
        padding-right: 5%;
    }
    ul.da-da.AppMainApplicationForm_leftTopNavlocateUl li {
        width: calc(100%/4);
    }
    li.da-da.AppMainApplicationForm_leftTopNavlocateLi:after {
        content: none;
    }
    li.da-da.AppMainApplicationForm_leftTopNavlocateLi:before {
        content: none;
    }
    ul.da-da.AppMainApplicationForm_leftTopNavlocateUl li:last-child:before {
        content: none;
    }
    ul.da-da.AppMainApplicationForm_leftTopNavlocateUl li:last-child:after {
        content: none;
    }
    span.default_formCatIcon_22_text {
        display:  none;
    }

    span.default_formCatIcon_22 {
        font-size:  30px;
    }
    li.da-da.AppMainApplicationForm_leftTopNavlocateLi a {
        overflow: visible;
    }
    .da-da.TopBlackHeader {
        display: none;
    }
    .da-da.MainErrorModal_pop {
        width: 90%;
        position: fixed;
        margin-left: 0;
        left: 5%;
    }
    div.da-da.termsofservicenadPrivay_3 {
        margin-top: 120px;
    }
    .da-da.daBannerTphomepageTextLeftMainYellowHeading {
        display: none;
    }

}
